---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Nando"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('sep 07 2023')}
	heroImage="/Blogpersonal/Gokumono.jpg"
>
	<p>
		Así es como me gusta que me llamen. Esta es la abreviación de mi nombre Nando. Siempre me han llamado 
		de esa manera mis familiares, amigos y personas cercanas. 
	</p>

	<p>
		Creo que el hecho de que te llamen con abreviaciones define un poco tu personalidad. Soy una persona súper
		amigable y las personas suelen tenerme cariño de una manera muy rápida. Esto me permite tener muchos tipos de relaciones
		que eventualmente se pueden transformar en maneras de generar ingresos. 
	</p>

	<p>
		Recuerdo desde muy pequeño tener interés por la tecnología. Afortunadamente tuve acceso a computadores
		desde muy pequeño. Recuerdo muy bien aprender qué es lo que tiene un computador por dentro. Fácilmente
		podía destapar el computador y cambiar cualquier pieza que tuviera. Les cuento esto porque creo que 
		haber tenido acceso a cosas desde pequeño, hace que crezcas sin ese miedo que noto en la mayoría de personas a la hora 
		hablar de computadoras.
		
	</p>

	<p>
		Esto me ha permitido desde muy pequeño tener una filosofía que trato de aplicar siempre a la hora de aprender 
		algo nuevo o tener que realizar una tarea que no había hecho antes. Mi filosofía de vida es; "Si alguien más
		lo hizo, yo también lo puedo hacer. Si alguien más lo aprendió, también lo puedo aprender." Creo que cuando tienes 
		este pensamiento casi que no existen barreras para hacer o aprender cualquier tipo de cosa. Esto te da una confianza increíble que 
		te permite hacer cualquier tipo de cosas.
	</p>

	<p>
		Así que si ya estás aquí espero que tú también puedas aplicar esta filosofía de vida. Tú puedes aprender cualquier
		cosa, puedes hacer cualquier tarea que alguién más ya haya hecho. Y recuerda que antes de nosotros ya existieron personas 
		que tuvieron los problemas que tú tienes. Busca cómo lo solucionaron y empieza a hacerlo. Mi hermano me dice siempre que 
		hay que buscar, porque seguramente lo que te está pasando a tí, a alguién más ya le pasó.		
	</p>
	<p>
		Mira mis publicaciones, ahí estaré contando cómo estoy solucionando y aprendiendo cosas en este mundo de la programación. 
		No tengo ningún tipo de estudio enfocado en la tecnología, pero sí tengo la plena certeza que voy a aprender a programar, igual 
		o mejor que cualquier persona que ya lo haya hecho antes.
	</p>
</Layout>
