---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Code } from 'astro:components';
---

<!DOCTYPE html>
<html lang="en, es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>!Hola, Bienvenidos!</h1>
			<p>
				Este es mi primer blog, lo estoy creando con Astro. estaré probando <code>MD y MDX.</code>
				Este va a ser el primer proyecto que voy a tener en mi portafolio, así que me hace mucha ilusión.
				Esta va a ser un historia de cómo me volví programador. Ya tengo unos conocimientos muy básicos
				pero la idea es motivar con esta historia a otras personas que decidan hacer lo mismo.
			</p>

			<h2>¿Quién soy?</h2>
			<p>
				Ahora sí, me presento. Mi nombre es Hernando Morales soy Colombiano y vivo en la ciudad
				de Cali. Para muchos conocida como la capital mundial de la salsa. Tengo 31 años, tengo una hermosa
				hija llamada Salomé Morales. Me encanta jugar al futbol, al poker y aprender cosas nuevas.
			</p>
			<h2>¿Qué hago aquí?</h2>
			<p>Bueno pues yo tengo un hermano que se llama Jonathan, él es desarrollador y cuando no está trabajando le gusta hacer algunos
				proyectos personales. De hecho, ahora mismo está haciendo un proyecto con mi hija, luego les contaré más sobre este proyecto.
			</p>
			<p>	Lo que les quiero contar es que cuando mi hermano va a hacer algo nuevo siempre me pregunta que si quiero ver cómo lo hace. Y pues
				imagínense, es como pagar una clase de programación personalizada con un experto, pero gratis. 
			</p>
			<p>
				Entonces, como mi hermano decidió crear un blog para llevar registro sobre el proyecto que está haciendo con mi hija, pues aprovechamos y yo empecé también el mío.
				En este <a href="/Blogpersonal/blog">blog</a> voy a llevar registro de cómo conseguí ingresos progamando. Aún no lo sé cómo va a ser, puede ser que consiga
				un trabajo, que empiece a vender blogs o no sé, que monte algún tipo de negocio con lo que estoy aprendiendo.
				Así que preparense para esta aventura.
			</p>
			 
			
			<p>
				Espero que les guste este proyecto. Cada semana estaré publicando como va este proceso del <a href="/Blogpersonal/blog">blog</a>.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
